.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  margin-bottom: 10px;
}
.toggleText {
  color: var(--color-primary);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
.cardsWrapper {
  width: 100%;
  overflow-x: auto; /* enable horizontal scroll */
  overflow-y: hidden;
  scrollbar-width: none; /* hide scrollbar in Firefox */
  background-color: black;
  padding: 10px;
}

.cardsWrapper::-webkit-scrollbar {
  display: none; /* hide scrollbar in Chrome/Safari */
}

.wrapper {
  display: flex;
  gap: 16px; /* spacing between cards */
  padding: 10px;
}

/* when collapse mode */
.wrapper.collapse {
  flex-wrap: wrap; /* allows grid-like rows */
  justify-content: flex-start;
  overflow-x: hidden; /* no horizontal scroll */
}

/* when show all mode */
.wrapper.scroll {
  flex-wrap: nowrap; /* keep cards in one row */
}
